/* color variables */

$colorone: #27363f;
$colortwo: #bea189;
$colorthree: #8e6e5e;
$colorfour: #abb0a2;
$colorfive: #858b75;

/* end color variables */


/* theme styling */

a#searchopen:link,
a#searchopen:visited,
a#mobileopen:link, 
a#mobileopen:visited {
	color: $colorfive;
}

#mobile_nav,
#search {
	background: rgba($colorone, .9);
}

#attention_bar_header {
	background: $colorone;
	
	.attention_bar_header_content {
		div {
			ul {
				li {
					a:link,
					a:visited {
						color: $colorfive;
					}
				}
			}
		}
	}
}

header {
	background: url('../img/home.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header#header_page {
	background: url('../img/page.jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#parallax {
	background: url('../img/parallax.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    .filter {
		background: rgba($colorone, .7);
	}
}

header {
	
	#home_logo {
		margin-top: -200px;
		
		img {
			height: 250px;
		}
	}
	
	.image_overlay {
		background: rgba($colorone, .7);
	}
}

#call_out_boxes {
	background: $colorthree;
	
	.cob_3 {
		.call_out_boxes_item {
			.square.fas,
			.square.image-icon {
				background: $colorfive;
			}
			
			h3 {
				color: $colorfive;
			}
			
			p {
				color: #ffffff;
			}
			
			a:link,
			a:visited {
				background: $colorfive;
				color: #ffffff;
			}
		}
	}
}

#main {
	background: $colorone;
	
	.content {
		color: #ffffff;
		
		h1,h2,h3 {
			color: #ffffff;
		}
		
		hr.divider {
			background: #ffffff;
		}
		
		p {
			color: #ffffff;
		}
		
		a:link,
		a:visited {
			color: $colorfour;
			
			&.button {
				background: $colorfive;
				color: #ffffff;
			}
		}
		
		iframe {
			width: 100%;
		}
	}
	
	.sidebar {
		
		.business_information_wrapper {
			background: $colorfive;
		}
	}
}

/* beer page */

.beer_item_wrapper {
	
	&.column_1,
	&.column_2 {
		display: inline-block;
		margin-right: 40px;
		vertical-align:top;
		width: calc(50% - 40px);
	}
	
	.beer_item {
		margin-bottom: 30px;
		position: relative;
		
		.tap_num {
			border: 2px solid #ffffff;
			display: block;
			height: 25px;
			left: 0px;
			line-height: 25px;
			text-align: center;
			position: absolute;
			top: 0px;
			width: 25px;
			border-radius: 20px;
		}
		
		.beer_title {
			display: block;
			margin-top: 5px;
			margin-left: 40px;
			
			.beer_prod {
				color: $colorfour;
				display: inline-block;
				font-weight: 500;
				margin-right: 5px;
				
				a:link,
				a:visited {
					color: $colorfour;
					font-weight: 500;
				}
			}
			
			.beer_name {
				a:link,
				a:visited {
					color: #ffffff;
					font-weight: 300;
				}
			}
		}
		
		.beer_desc {
			display: block;
			margin-top: 5px;
			margin-left: 40px;
			
			.beer_type {
				border-right: 2px solid #ffffff;
				display: inline-block;
				margin-right: 10px;
				padding-right: 10px;
			}
		}
		
		.percent_remaining {
			background: gray;
			display: block;
			margin-top: 10px;
			position: relative;
			overflow: hidden;
			width: 100%;
			border-radius: 5px;
			
			span {
				display: block;
				height: 25px;
				
				&.green {
					background: #88A96A;
				}
				
				&.yellow {
					background: #EFBE08;
				}
						
				&.red {
					background: #A23C22;
				}
				
				&.percent_desc {
					font-size: 13px;
					position: absolute;
					top: 6px;
					left: 10px;
				}
			}
		}
	}
}

/* beer & food */

.pairings_wrapper {
	.pairing {
		margin-bottom: 40px;
		
		.image_content {
			float: right;
			height: 200px;
			text-align: center;
			width: 200px;
			
			img {
				height: 100%;
				width: auto;
			}
		}
	}
}

#attention_bar {
	background: $colorfive;
	
	.attention_bar_top,
	.attention_bar_bottom {
		ul {
			li {
				a:link,
				a:visited {
					color: $colorfive;
				}
			}
		}
	}
}

footer,
.copyright {
	background: $colorone;
}

footer {
	padding: 50px 0px;
	
	#logo_footer {
		img {
			height: 200px;
		}
	}
}


/* blog page */

#main {
	&.blog_home {
		article.blog_preview {
			
			span.author {
				a:link,a:visited {
					color: $colorfour;	
				}
			}
			
			p {
				color: #777777;
			}
		}
	}
	
	&.blog_single {
		article.blog_entry {
			.meta {
				span.date,
				span.author,
				span.category {
					color: #ffffff;
					
					a:link,
					a:visited {
						color: $colorfour;
					}
				}
			}
			
			.tagcloud {
				a:link,
				a:visited {
					border: .5px solid $colorfour;
					color: $colorfour;
				}
			}
		}
	}	
}

.blog_sidebar {
	background: $colorone;
	
	.blog_sidebars {
		border-radius: 5px;
	}
	
	#blog_sidebar_1,
	#blog_sidebar_2 {
		ul {
			li {
				a:link,a:visited {
					color: $colorfour;	
				}
			}
		}
	}
}


/* responsive media queries */

@media (min-width: 980px) and (max-width: 1220px) {
	
	header#header_page {
		background: url('../img/page.jpg') no-repeat;
	    background-size: 130%;
	    background-attachment: fixed;
	}
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	header#header_page {
		background: url('../img/page.jpg') no-repeat;
	    background-size: 180%;
	    background-attachment: fixed;
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header {
		background: url('../img/home_mobile.jpg') no-repeat;
	    background-size: cover;
	    background-attachment: fixed;
	    
	    &#header_home_mobile {
		    #home_logo {
			    img {
				    height: 200px;
			    }
		    }
	    }
	}
	
	header#header_page {
		background: url('../img/page_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	.beer_item_wrapper {
	
		&.column_1,
		&.column_2 {
			display: block;
			margin-right: 0px;
			vertical-align: top;
			width: 100%;
		}
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header {
		background: url('../img/home_mobile.jpg') no-repeat;
	    background-size: cover;
	    background-attachment: fixed;
	    
	    &#header_home_mobile {
		    #home_logo {
			    img {
				    height: 150px;
			    }
		    }
	    }
	}
	
	header#header_page  {
		background: url('../img/page_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	.beer_item_wrapper {
	
		&.column_1,
		&.column_2 {
			display: block;
			margin-right: 0px;
			vertical-align: top;
			width: 100%;
		}
	}
	
	footer {
		#logo_footer {
			a:link,
			a:visited {
				img {
					height: 100px;
				}
			}
		}
	}
	
}